
/* box to hold all the main content of the page */
.container
{
	/* set background image */
	background-image: url('../images/sayagata-400px.png');

	width: 100%;

	padding: 20px;
}

.navbar
{
	margin-bottom: 0px;
}

.changeNameStyle
{
	font-weight: bold;
	font-size: 2em;
}

.changeNavStyle
{
	font-size: 1.2em;
}

p
{
	float: left;
	padding-top: 20px;
}

blockquote
{
	margin: 40px;
	border-color: #5E7F7E;

	font-size: 2em;
}

.footerArea
{
	text-align: center;
	font-size: 90%;
	color: #cccccc;
	
	border-top: 10px solid #4aaaa5;  /* set bottom border to 2 pixels w/ a solid border & color of teal */
	padding: 20px 0px;

	background-color: #777777;
}

.socialContent
{
	background-color: #f8f8f8;  /* set background color for header area to white */
	border: 2px solid #e7e7e7;
	text-align: center;
	padding-bottom: 20px;
}

.mainContent
{
	padding: 0px 25px;
}

/* class to style the heading for the main content section of the site */
.mainContentHeading
{
	border-bottom: 3px solid #cccccc;  /* set bottom border to 2 pixels w/ a solid border & color of gray */
	padding: 10px 0px;  /* add padding to the top & bottom areas */

	color: #4aaaa5;  /* set font color */

	font-size: 2.5em;
	font-weight: bold;
}

h3
{
	border-bottom: 2px solid #4aaaa5;
	color: #5E7F7E;
	padding-bottom: 10px;
}

.profilePic
{
	margin-bottom: 20px;
}

.importantList, .introParagraph
{
	font-size: 150%;
}

/* style the images on the portfolio page the same */
.portfolioImages
{
	/* set this position property to relative to make the label element class be placed relative to this element */
	position: relative;

	margin-top: 20px;

}

/* style the labels on the portfolio images the same */
.portfolioLabels
{
	color: #ffffff;
	background-color: #4aaaa5;
	text-align: center;
	padding: 10px 0px;  /* put some space around the wording (content) and the background box */
	opacity: 0.9;  /* make the label a little see through */

	/* set this position property to allow the label to move to a position that is relative to it's ancestor (the image section) */
	position: absolute;
	bottom: 10%;   /* put it 40px above the bottom of the ancestor element */
	width: 100%;	/* span the full width of the ancestor element */

}

/* style the labels on the contact us main section area */
.contactForm label
{
	line-height: 150%;	
	color: #4aaaa5;
	font-size: 1.2em;
}

/* style the input fields for the contact page */
.contactForm input
{
	line-height: 150%;
}

/* style the text box on the contact form */
.contactForm textarea
{
	line-height: 150%;
	height: 200px;

	/* add a scroll bar to the box if content gets more than the size of the box area */
	overflow: auto;
}

.myButton
{
	background-color: #4aaaa5;
	color: white;
	font-size: 1.2em;
}